.main-layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}



@media (max-width: 800px){
    .article-content .article-header{
        margin-bottom: 15px;
    }
    .article-main-txt{
        margin-bottom: 8px;
    }
    .article-summary-txt{
        margin-bottom: 15px;
    }
    .article-img-container{
        margin: 0;
    }

}

@media (max-width: 720px){
    .nav-content .hamburger{
        display: flex;
    }

    .nav-content ul{
        display: none;
    }

    .articles-container{
        flex-flow: row wrap;
    }
    .article{
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
    }
    .article-scroll{
        width: 100%
    }
}